[submodule "pack/nvim-lua/start/plenary.nvim"]
	path = pack/nvim-lua/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "pack/nvim-telescope/start/telescope.nvim"]
	path = pack/nvim-telescope/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "pack/nvim-treesitter/start/nvim-treesitter"]
	path = pack/nvim-treesitter/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "pack/nvim-telescope/start/telescope-live-grep-args.nvim"]
	path = pack/nvim-telescope/start/telescope-live-grep-args.nvim
	url = git@github.com:nvim-telescope/telescope-live-grep-args.nvim.git
[submodule "pack/f-person/start/git-blame.nvim"]
	path = pack/f-person/start/git-blame.nvim
	url = git@github.com:f-person/git-blame.nvim.git
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/rbong/start/vim-flog"]
	path = pack/rbong/start/vim-flog
	url = git@github.com:rbong/vim-flog.git
[submodule "pack/neovim/start/nvim-lspconfig"]
	path = pack/neovim/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "pack/hrsh7th/start/nvim-cmp"]
	path = pack/hrsh7th/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "pack/hrsh7th/start/cmp-nvim-lsp"]
	path = pack/hrsh7th/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "pack/L3MON4D3/start/LuaSnip"]
	path = pack/L3MON4D3/start/LuaSnip
	url = git@github.com:L3MON4D3/LuaSnip.git
[submodule "pack/ray-x/start/lsp_signature.nvim"]
	path = pack/ray-x/start/lsp_signature.nvim
	url = git@github.com:ray-x/lsp_signature.nvim.git
[submodule "pack/rose-pine/start/rose-pine"]
	path = pack/rose-pine/start/rose-pine
	url = git@github.com:rose-pine/neovim.git
[submodule "pack/nvim-treesitter/start/nvim-treesitter-context"]
	path = pack/nvim-treesitter/start/nvim-treesitter-context
	url = git@github.com:nvim-treesitter/nvim-treesitter-context.git
[submodule "pack/ThePrimeagen/start/harpoon"]
	path = pack/ThePrimeagen/start/harpoon
	url = git@github.com:ThePrimeagen/harpoon.git
[submodule "pack/hat0uma/start/csvview.nvim"]
	path = pack/hat0uma/start/csvview.nvim
	url = git@github.com:hat0uma/csvview.nvim
[submodule "pack/jiaoshijie/start/undotree"]
	path = pack/jiaoshijie/start/undotree
	url = git@github.com:jiaoshijie/undotree.git
