[submodule "pack/nvim-lua/start/plenary.nvim"]
	path = pack/nvim-lua/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "pack/nvim-telescope/start/telescope.nvim"]
	path = pack/nvim-telescope/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "pack/nvim-treesitter/start/nvim-treesitter"]
	path = pack/nvim-treesitter/start/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "pack/nvim-telescope/start/telescope-live-grep-args.nvim"]
	path = pack/nvim-telescope/start/telescope-live-grep-args.nvim
	url = git@github.com:nvim-telescope/telescope-live-grep-args.nvim.git
[submodule "pack/f-person/start/git-blame.nvim"]
	path = pack/f-person/start/git-blame.nvim
	url = git@github.com:f-person/git-blame.nvim.git
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/rbong/start/vim-flog"]
	path = pack/rbong/start/vim-flog
	url = git@github.com:rbong/vim-flog.git
